.env
/Cargo.lock
/*ipynb* 
/batches
/.ssh_g5k.pub
/__pycache__
/*.png

# Added by cargo

/target
/data/



## Python
# Byte-compiled / optimized / DLL files
analysis/__pycache__/
analysis/*.py[codz]
analysis/*$py.class

# C extensions
*.so

# Distribution / packaging
analysis/.Python
analysis/build/
analysis/develop-eggs/
analysis/dist/
analysis/downloads/
analysis/eggs/
analysis/.eggs/
analysis/lib/
analysis/bin/
analysis/lib64
analysis/share
analysis/parts/
analysis/sdist/
analysis/var/
analysis/wheels/
analysis/share/python-wheels/
analysis/*.egg-info/
analysis/.installed.cfg
analysis/*.egg
analysis/MANIFEST

